{% import "_includes/forms" as forms %}
<h2>Settings File Location</h2>
{{ forms.textField({
  label: "Enter the path and filename your settings twig file is stored. This will be relative to your craft/templates directory. Default is '_includes/settings'."|t,
  id: 'settingsFile',
  name: 'settingsFile',
  placeholder: '_includes/settings',
  value: settings.settingsFile,
  errors: settings.getErrors('settingsFile'),
}) }}

<h2>Environmental Variables to Global Variables</h2>
<p>Any <a href="https://craftcms.com/docs/config-settings#environmentVariables" target="_blank">Environmental Variables</a> set in the general config file will be made accessible as a global variable within your Twig templating.</p>
{{ forms.lightswitch({
  id: 'envVarsToGlobalVars',
  name: 'envVarsToGlobalVars',
  on : settings["envVarsToGlobalVars"],
  errors: settings.getErrors('envVarsToGlobalVars'),
}) }}

<h2>Cleanup</h2>
<p>If the first settings key has a value which is an array; the key will be ignored and it's children will be defined as variables instead. This is so you can organise your variables.</p>
{{ forms.lightswitch({
  id: 'cleanup',
  name: 'cleanup',
  on : settings["cleanup"],
  errors: settings.getErrors('cleanup'),
}) }}
